.btn
  background-color: c-link
  color: c-paper
  text-decoration:none
  padding:5px
  border-radius:3px
  font-size:1em
  transition: all 0.5s ease;
  &:hover
    transition: all 0.5s ease;
    background-color: c-paper
    border:1px solid  c-link
    color: c-link

.btn-large
  @extend .btn
  font-size: 1.25rem

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: $font, sans-serif; //1
  color: c-dk-gray
  font-size: 100%; // 1
  line-height: 1.15; // 1
  margin: 5px; // 2 
  padding: 5px
}
