@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')

$font = 'Open Sans', sans-serif;

html
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smothing: grayscale
  -webkit-tap-highlight-color: transparent

body
  font-family: $font
  font-weight: 400
  font-size: 1rem
  line-height: 1.5rem

p,
blockquote,
figure,
ol,
ul {
    margin: 0
    padding: 0
}
ul
  li
    display: block

ul.bullets
  li
    display: list-item
    margin-left: 1.5rem
ol
  li
    display: list-item
    margin-left: 1.5rem

h1,
h2,
h3,
h4,
 {
   margin: 0.3125rem 0
   padding: 0
   font-family:  $font
   line-height: 100%
}


h1
  font-size: 2rem
  @media (min-width: $lg)
    font-size: 2.5rem

h2
  font-size: 1.625rem
  @media (min-width: $lg)
    font-size: 2rem

h3
  font-size: 1.375rem
  @media (min-width: $lg)
    font-size: 1.5rem

h4
  font-size: 1.125rem

p
  margin: 1.5rem 0

.small--text
  font-size: 75%

a
  color: c-link
  text-decoration: none
  border-bottom: 1px solid c-link
  background-color: transparent; //Remove the gray background on active links in IE 10.
  &:hover
    color: c-link-hover
    border-bottom: 1px solid c-link-hover
    outline-width: 0; // Remove the outline on focused links when they are also active or hovered
  &:active
    outline-width: 0;

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; //1
  height: 0; // 1
  overflow: visible; // 2
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; // 1
  font-size: 1em; // 2 
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
